<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string># store notes and results and etc...</string>
	<key>extension</key>
	<string>txt</string>
	<key>name</key>
	<string>Notes folder</string>
	<key>uuid</key>
	<string>9B3BE20F-92E8-44FE-9D51-7895F0CEF188</string>
</dict>
</plist>
