<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_DATE=`date -u` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; template_in.txt &gt; "$TM_NEW_FILE"
fi

# date +%Y-%m-%d:%U</string>
	<key>extension</key>
	<string>txt</string>
	<key>name</key>
	<string>pageEasy</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>html1</string>
	<key>uuid</key>
	<string>90EBFE57-A41A-4A6B-A89F-EC18031E363C</string>
</dict>
</plist>
